// Header Overlay
#header.header-overlay {
    position: absolute;
    width: 100%;
    z-index: 99999;
    background: transparent;
}

.header-icons {
  margin-top: -1px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: transparent !important;
  @include media-breakpoint-up(sm) {
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    background-color: white !important;
  }
  #mobile-menu-toggle {
    color: #d8120f;
    font-size: 30px;
    margin-left: 20px;
  }
  .row.row-xs-center {
    background: white !important;
  }
  &.reduced-header {
    height: 53px;
    #logo {
      padding: 2px 0 2px 15px;
      a {
        width: 50px;
      }
    }
    .header-social ul li a {
      height: 53px;
    }
    #primary-menu {
      li.menu-item {
        padding: 16px 0;
      }
    }
    .sub-menu {
      top: 53px !important;
    }
    .mobile-right {
      top: 6px !important;
    }
  }
  .container-fluid {
    position: relative;
  }
  .header-social {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 16.66%;
    @include media-breakpoint-up(md) {
      display: block;
    }
    ul {
      @include clearfix();
      li {
        width: 33.33%;
        float: left;
        &.instagram a { background: #d8120f; }
        &.twitter a { background: #e14644; }
        &.facebook a { background: #eb8887; }
        a {
          height: 71px;
          display: block;
          position: relative;
          transition: all .2s ease;
          i {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

/*------------
## Common Headers
------------*/
// Mini Cart
.mini-cart {
    display: inline-block;
    .cart-contents {
        font-size: 12px;
        display: block;
        margin-top: -16px;
        @include media-breakpoint-up(md) {
          display: inline;
          margin-top: 0;
        }
    }
    .cart-icon {
      position: relative;
      .cart-count-fixed {
        position: absolute;
        top: 2px;
        left: 3px;
        color: #d8120f;
        font-size: 12px;
      }
    }
    .cart-text {
        padding-right: 5px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}
.icon-header {
    //vertical-align: middle;
    font-size: 18px;
}
.header-item {
    vertical-align: middle;
    padding-right: 22px;
}

//Custom Header Contact Info
.header-contact-info {
    display: inline-block;
    > li {
        display: inline-block;
        padding-right: 7px;
        &:last-child {
            padding-right: 0;
            .header-text-sec {
                padding-right: 0;
            }
        }
    }
    span {
        padding-right: 12px;
        font-size: 12px;
    }
    i {
        padding-right: 13px;
    }
    .header-text-pri {
        font-weight: bold;
    }
}

//Language and Currency
.switchers-wrap {
    display: inline-block;
    > div {
        display: inline-block;
        margin-right: 25px;
    }
}
.mobile-right {
    .cart-text {
        display: none;
    }
}

//Header 01
@import "header-01";
@import "header-02";
@import "header-04";
@import "header-05";
@import "header-06";
