.header-04 {
    .mini-cart.header-item {
        padding-right: 0;
    }
    .cart-icon {
        font-size: 26px;
        padding-right: 6px;
    }
    .social-links {
        .text {
            vertical-align: middle;
        }
        li a {
            line-height: 1.8;
        }
    }
}