.button-parallax button {
  height: auto;
  padding: 9px 18px  !important;
  font-size: 14px !important;
  font-weight: bold;
  line-height: 1.8em !important;
  letter-spacing: 1px !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
}