h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 0.05em;
}

h1 {
  font-weight: normal !important;
  @extend .gibson-light;
  @extend .gibson-semibold;
}
h1:not(.blog-flexslider-title):not(.home-flexslider-title):not(.duck-collection-header-title) {
  color: #4C4C4C !important;
}

h2 {
  text-transform: uppercase;
  @extend .gibson-semibold;
  font-size: 22px !important;
  @extend .gibson-semibold;
}
h2:not(.home-flexslider-title) {
  color: #4C4C4C;
}

h3 {
  font-size: 20px !important;
  @extend .gibson-semibold;
  &.widget-title {
    color: #4c4c4c !important;
  }
}
h3:not(.home-flexslider-title) {
  color: #AAAAAA !important;
}

h4 {
  font-size: 18px !important;
  line-height: 24px !important;
  @extend .gibson-semibold;
}
h4:not(.allow-color-picker) {
  color: #4C4C4C !important;
}

h5 {
  font-size: 14px !important;
  color: #4C4C4C !important;
  @extend .gibson-light;
}

h6 {
  font-size: 14px !important;
  @extend .gibson-semibold;
  color: #AAAAAA !important;
}

.comment-text,
.entry-content {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 18px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 21px;
    }
    h4 {
        font-size: 19px;
    }
    h5 {
        font-size: 17px;
    }
    h6 {
        font-size: 15px;
    }
}
.heading {
    font-size: 14px;
    text-transform: uppercase;
    &.reverse {
        color: #FFF;
        span {
            &:before,
            &:after {
                background: #FFF;
            }
        }
    }

}
