a {
    text-decoration: none;
    @extend %transition;
    &:focus,
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}