

//General
.site-footer {
  background-color: #f9f9f9 !important;
  padding: 80px 0;
  .footer-inner {
    padding: 0 20px;
    .col-xs-12 {
      margin-bottom: 20px;
    }
  }
  .menu {
    margin-top: 8px;
    li {
      a {
        @extend .gibson-light;
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }
  input[type=email] {
    width: 100%;
    color: #4c4c4c;
    text-transform: uppercase;
    padding: 8px 10px 3px 10px;
    @extend .gibson-light;
    letter-spacing: 1px !important;
  }
  input[type=email]::-webkit-input-placeholder {
    color: #4c4c4c;
  }
  input[type=email]:-moz-placeholder { /* Firefox 18- */
    color: #4c4c4c;
  }
  input[type=email]::-moz-placeholder {  /* Firefox 19+ */
    color: #4c4c4c;
  }
  input[type=email]:-ms-input-placeholder {
    color: #4c4c4c;
  }
  .footer-social {
    text-align: center;
    margin-bottom: 60px;
    li {
      display: inline-block;
      margin: 0 14px;
      a {
        font-size: 150%;
        color: #4c4c4c;
        i {
          color: #4c4c4c;
        }
      }
    }
  }
}
.footer-widget-container {
    padding: 65px 0 10px;
}
.footer-bottom {
    padding-top: 25px;
    padding-bottom: 25px;
}
//Menu
.footer-widget-container {
    .widget {
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    .menu {
        a {
            line-height: 2.1 !important;
            font-weight: 400 !important;
            &:hover {
                padding-left: 10px;
            }
            &:before {
                content: "\e684";
                padding-right: 3px;
                @extend %pe-icon-7-stroke;
            }
        }
    }
}

// Contact
.custom-footer-contact {
    [class^="pe-7s-"] {
        float: left;
        overflow: hidden;
        padding-top: 8px;
        padding-right: 20px;
        font-size: 18px;
    }
    .custom-contact-text {
        display: block;
        overflow: hidden;
        line-height: 2.1;
    }

}

// Custom Contact
.custom-footer-contact-img {
    float: left;
    margin: 25px 0;
}

// Back to Top
.scrollup {
    position: fixed;
    z-index: 99999;
    bottom: -80px;
    right: 30px;
    display: none;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    text-align: center;
    &.show {
        display: block;
        bottom: 30px;
    }
    &:hover {
        cursor: pointer;
    }
    span {
        font-size: 30px;
        line-height: 40px;
    }
}

@import "footer-01";
@import "footer-03";
