.blog-title {
  @extend .gibson-light;
  font-size: 40px;
  line-height: 50px;
  margin-top: 40px;
}

// Article listing
.blog-list-image-square {
  display: block;
  margin-bottom: 20px;
  position: relative;
  &:hover {
    .blog-list-image-square-overlay {
      opacity: 1;
    }
  }
  .blog-list-image-square-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .2s ease;
    background: rgba(216, 18, 15, 0.73);
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.duck-blog {
  article {
    padding: 0 40px 60px 40px;
    .post-meta {
      margin: 0 0 8px 0;
      .post-meta-date {
        position: relative;
        @extend .gibson-semibold;
      }
    }
    h4 {
      margin: 0 0 10px 0;
    }
    p {
      font-size: 14px;
    }
    .blog-meta-footer {
      margin: 30px 0 0 0;
    }
  }
}
.blog-slider-caption {
  h1 {
    @extend .gibson-light;
    font-size: 42px !important;
    text-transform: uppercase;
    color: #fff !important;
    white-space: nowrap;
    transition: all .2s ease !important;
    &:hover {
      color: rgba(216, 18, 15, 0.5) !important;
    }
  }
}

.fullwidthbanner-container {
  min-height: 500px !important;
  .fullwidthabanner {
    min-height: 500px !important;
  }
}
