// Article listing
.blog-list-image-square {
  display: block;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.duck-blog {
  article {
    padding: 0 40px 100px 40px;
    .post-meta {
      margin: 0 0 8px 0;
      .post-meta-date {
        position: relative;
        @extend .gibson-semibold;
      }
    }
    h4 {
      margin: 0 0 10px 0;
    }
    .blog-meta-footer {
      margin: 30px 0 0 0;
    }
  }
}
