
.celebwears-all {
  .hero {
    margin-bottom: 40px;
    position: relative;
    //min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    @include media-breakpoint-up(md) {
      background-position: center center;
    }
    .caption {
      h1 {
        padding: 200px 0;
        @extend .gibson-light;
        font-size: 30px;
        @include media-breakpoint-up(md) {
          font-size: 42px;
        }
      }
    }
  }
  ul {
    margin-top: 40px;
    li {
      margin-bottom: 15px;
      a {
        display: block;
        position: relative;
        .caption {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0,0,0,.3);
          transition: all .2s ease;
          opacity: 0;
          .caption-inner {
            @include centre;
            h3, h4 {
              color: white;
            }
          }
        }
        &:hover {
          .caption {
            opacity: 1;
          }
        }
      }
    }
  }
}


.celebwears-single {
  .celebwears-single_hero {
    @include media-breakpoint-up(sm) {
      margin: 40px 0;
    }
    .celebwears-single_hero-inner {
      margin: 0 -15px;
      @include media-breakpoint-up(sm) {
        margin: 0;
      }
    }
  }
  .celebwears-single_share {
    margin: 40px 0;
    @include clearfix();
    span {
      float: left;
      &:first-child {
        padding: 10px 14px 0 0;
        display: block;
        text-transform: uppercase;
        @extend .gibson-semibold;
        opacity: .5;
        font-size: 12px;
      }
    }
  }
}
