.duck-collection-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include media-breakpoint-up(md) {
    margin-top: 71px;
  }
  .page-title {
    @extend .gibson-light;
    font-size: 80px !important;
  }
}
