.duck-collection-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 150px 15px;
  margin-bottom: -77px;
  @include media-breakpoint-up(sm) {
    margin-bottom: -71px;
  }
  @include media-breakpoint-up(md) {
    margin-top: 71px;
  }
  .page-title {
    @extend .gibson-light;
    font-size: 42px !important;
    text-align: center;
    color: #fff !important;
    line-height: 75px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 4px !important;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.duck-collection-description {
  // padding: 70px 0 64px 0;
  // margin-bottom: -90px;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.yith-woocommerce-ajax-product-filter {
  a, span {
    text-transform: uppercase;
    color: #4c4c4c;
    @extend .gibson-light;
    font-size: 12px;
  }
  .chosen a {
    color: #d8120f;
  }
}

.price_slider_amount {
  button {
    color: #4c4c4c !important;
    background: none !important;
    &:hover{
      background: none !important;
    }
  }
}

.duck-collection-breadcrumbs {
  text-align: center;
  margin-bottom: 40px;
  @include media-breakpoint-up(md) {
    text-align: left;
    margin-bottom: 0;
  }
}
.duck-collection-dropdowns {
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
  ul {
    display: inline-block;
    li {
      display: inline-block;
      padding-right: 12px;
      a {
        &.active {
          color: #d8120f;
        }
      }
    }
  }
  span {
    display: inline-block;
  }
}

.duck-collection-filter-list {
  .widget {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 16.66%;
    }
  }
}
