#duck-front-page {

  .hero-slider {
    margin-bottom: 60px;
    p:first-child {
      display: none;
    }
  }

  .duck-front-page-top-categories {
    text-align: center;
    padding: 40px 0 80px 0;
    .duck-front-page-top-category {
      display: block;
      padding: 50px;
      .top-category-images {
        position: relative;
        .top-cat-first {
          transition: all .2s ease;
          z-index: 2;
          position: relative;
        }
        .top-cat-second {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
        &:hover {
          .top-cat-first {
            opacity: 0;
          }
        }
      }
    }
  }

  #single-featured-product-section {
    //margin: 60px 0 0 0;
    .single-featured-product-caption {
      padding: 40px 20px;
    }
  }

  #sunglasses-section {
    background: #f4f4f4;
    padding-top: 60px;
    .sunglasses-section_top {
      width: 340px;
      display: block;
      height: auto;
      margin: 0 auto;
      img {
        padding: 20px 0;
      }
    }
    .sunglasses-section_main {
      background: #d8d8d8;
      margin: 100px 0 180px 0;
      position: relative;
      padding: 250px 0 350px 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      .container {
        position: relative;
        z-index: 1;
      }
      &:before, &:after {
        content: '';
        position: absolute;
        z-index: 0;
        // background: #d8d8d8;
      }
      &:before {
        height: 100px;
        width: 122%;
        top: -50px;
        transform: rotate(-3deg);
        display: none; // Hide for now
      }
      &:after {
        height: 134px;
        width: 127%;
        bottom: -83px;
        left: -5px;
        transform: rotate(4deg);
        background: #fff;
      }
      .sunglasses-image-box {
        position: absolute;
        top: 0px;
        height: 400px;
        right: 100px;
        width: 300px;
        //background-size: cover;
        background-position: center 50%;
        background-repeat: no-repeat;
        .button {
          bottom: 40px;
          @include centre(x);
          color: white;
          border: 1px solid white;
        }
      }
    }
  }

  // Instagram feed
  .front-page-instagram {
    margin: 100px 0 60px 0;
  }
  .widget_facewp_instagram {
    ul {
      display: flex;
      margin: 0 -20px;
      li {
        width: 50%;
        padding: 0 10px 20px 10px;
        @include media-breakpoint-up(md) {
          width: 20%;
        }
      }
    }
  }

  // Pre Footer Image
  .pre-footer-image {
    position: relative;
    .caption {
      @include centre(y);
      right: 15%;
    }
  }
}
