.landing-page {
  .landing-page-hero {
    position: relative;
    .duck-collection-header-title {
      @include centre;
      @extend .gibson-light;
      font-size: 42px !important;
      text-align: center;
      color: #fff !important;
      line-height: 75px;
      margin: 0px;
      padding: 0px;
      letter-spacing: 4px !important;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
