.lookbooks-all {
  li {
    @include backgroundCover;
    .lookbooks-all_single {
      padding: 420px 0 50px 0;
    }
  }
}

.lookbooks-single {
  .lookbooks-single_hero {
    height: 620px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
