#our-story {
  .our-story-header-image {

  }
  .our-story-first-section {
    padding: 100px 0;
  }
  .our-story-second-section {
    padding: 100px 0;
    background: #D8D8D8;
  }
  .our-story-third-section {
    padding: 100px 0;
  }
}
