// Top navigation
.navigation-shop-mobile {
  .product_list_widget {
    display: none !important;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
  .duck-nav-links-wrapper {
    text-align: center;
    margin-top: 20px;
    .duck-nav-links {
      display: inline-block;
      &.duck-nav-prev {
        margin: 0 40px 0 0;
      }
      &.duck-nav-next {
        margin: 0 0 0 40px;
      }
      a {
        font-size: 15px;
        @extend .gibson-semibold;
        &:after {
          display: none !important;
        }
      }
    }
  }
}
.navigation-shop-desktop {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

// Related products
.related {
  li {
    @extend .col-xs-6;
  }
}

// Tabs
.wc-tabs-wrapper {
  margin-top: 40px;
  .entry-content.panel:not(#duck-description) {
    padding: 0 40px;
  }
}

// Custom D&C Tab
#duck-description {
  margin: 0 0 60px 0 !important;
  .duck-description-frame-1 {
    position: relative;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
    .duck-description-frame-caption {
      @include centre(y);
      left: 20px;
      max-width: 500px;
      @include media-breakpoint-up(md) {
        left: 170px;
      }
    }
  }
  .duck-description-frame-2 {
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .duck-description-frame-3 {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
