// All members page
.sicky-crew-all {
  li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include media-breakpoint-up(md) {
      background-position: center center !important;
    }
    .sicky-crew-member {
      padding: 180px 0 90px 0;
      span {
        display: block;
        font-size: 34px;
      }
      .button {
        margin-top: 20px;
      }
      .sicky-crew-member-social {
        margin-top: 20px;
        li {
          display: inline-block;
          margin-right: 13px;
          a {
            display: block;
            font-size: 150%;
          }
        }
      }
    }
  }
}

// Single member page
.sicky-single {
  .sicky-single_hero {
    margin-bottom: 40px;
  }
  h1 {
    font-size: 32px !important;
  }
  .widget_facewp_instagram {
    margin-top: 40px;
  }
  .widget_facewp_instagram {
    ul {
      li {
        @extend .col-xs-6;
        @extend .col-sm-3;
      }
    }
  }
}

// Common styles
.sicky-crew_signature {
  width: 170px;
  margin: 14px 0;
}
