// All members page
.sicky-crew-all {
  li {
    @include backgroundCover;
    .sicky-crew-member {
      padding: 220px 0 50px 0;
      .button {
        margin-top: 30px;
      }
    }
  }
}

// Single member page
.sicky-single {
  .sicky-single_hero {
    margin-bottom: 40px;
  }
  h1 {
    font-size: 32px !important;
  }
  .widget_facewp_instagram {
    margin-top: 40px;
  }
}

// Common styles
.sicky-crew_signature {
  width: 170px;
  margin: 14px 0;
}
