.tp-bullet {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}

.forcefullwidth_wrapper_tp_banner {
  min-height: 410px;
}

.duck-slider-caption {
  text-align: left !important;
  transform: scale(.7);
  width: 100%;
  min-width: 320px;
  @include media-breakpoint-up(sm) {
    transform: scale(.9);
  }
  @include media-breakpoint-up(md) {
    transform: scale(1);
  }
  h3 {
    text-transform: uppercase;
    color: #4c4c4c;
    @extend .gibson-light;
    font-size: 14px !important;
    line-height: 14px !important;
    margin: 0 0 15px 0 !important;
  }
  h2 {
    text-transform: uppercase;
    color: #4c4c4c;
    @extend .gibson-semibold;
    font-size: 42px !important;
    line-height: 42px !important;
    margin: 0 0 15px 0 !important;
  }
  p {
    color: #4c4c4c;
    @extend .gibson-light;
    font-size: 14px !important;
    line-height: 14px !important;
    margin: 0 0 15px 0 !important;
    a {
      font-size: 14px !important;
      line-height: 14px !important;
      color: #d8120f;
    }
  }
  .duck-slider-button {
    background: #d8120f;
    display: inline-block;
    padding: 15px 30px;
    @extend .gibson-semibold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    font-size: 14px !important;
    line-height: 40px !important;
    padding: 2px 28px 0 28px !important;
  }
}
