.tp-bullet {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}

.forcefullwidth_wrapper_tp_banner {
  min-height: 410px;
}

.duck-slider-caption {
  text-align: left !important;
  transform: scale(.7);
  width: 100%;
  min-width: 320px;
  @include media-breakpoint-up(sm) {
    transform: scale(.9);
  }
  @include media-breakpoint-up(md) {
    transform: scale(1);
  }
  h3 {
    text-transform: uppercase;
    color: #4c4c4c;
    @extend .gibson-light;
    font-size: 14px !important;
    line-height: 14px !important;
    margin: 0 0 15px 0 !important;
  }
  h2 {
    text-transform: uppercase;
    color: #4c4c4c;
    @extend .gibson-semibold;
    font-size: 42px !important;
    line-height: 42px !important;
    margin: 0 0 15px 0 !important;
  }
  p {
    color: #4c4c4c;
    @extend .gibson-light;
    font-size: 14px !important;
    line-height: 14px !important;
    margin: 0 0 15px 0 !important;
    a {
      font-size: 14px !important;
      line-height: 14px !important;
      color: #d8120f;
    }
  }
  .duck-slider-button {
    background: #d8120f;
    display: inline-block;
    padding: 15px 30px;
    @extend .gibson-semibold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    font-size: 14px !important;
    line-height: 40px !important;
    padding: 2px 28px 0 28px !important;
  }
}

$blog-slider-height-mobile: 320px;
$blog-slider-height-tablet: 450px;
$blog-slider-height-desktop: 500px;

.blog-flexslider {
  position: relative;
  margin-bottom: 80px;
  .flexslider {
    ul {
      li {
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: $blog-slider-height-mobile;
        @include media-breakpoint-up(sm) {
          height: $blog-slider-height-tablet;
        }
        @include media-breakpoint-up(md) {
          height: $blog-slider-height-desktop;
        }
        a {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          &:hover {
            h1 {
              color: rgba(216, 18, 15, 0.5) !important;
            }
          }
          h1 {
            @include centre;
            @extend .gibson-light;
            font-size: 32px !important;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            width: 100%;
            padding: 0 20px;
            transition: all .2s ease !important;
            @include media-breakpoint-up(sm) {
              font-size: 37px !important;
            }
            @include media-breakpoint-up(md) {
              font-size: 42px !important;
            }
          }
        }
      }
    }
  }
}

$home-slider-height-mobile: 340px;
$home-slider-height-mobile-push: 340px + 20px;
$home-slider-height-tablet: 550px;
$home-slider-height-desktop: 620px;

.home-flexslider {
  position: relative;
  margin-bottom: 0;
  margin-top: -77px;
  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
  .flexslider {
    ul {
      li {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        // height: $home-slider-height-mobile;
        @media only screen and (max-width : 767px) {
          background-image: none !important;
        }
        @include media-breakpoint-up(sm) {
          height: $home-slider-height-tablet;
        }
        @include media-breakpoint-up(md) {
          height: $home-slider-height-desktop;
        }
        .container.home-flexslider-desktop {
          position: relative;
          display: none;
          height: $home-slider-height-mobile;
          @include media-breakpoint-up(sm) {
            height: $home-slider-height-tablet;
            display: block;
          }
          @include media-breakpoint-up(md) {
            height: $home-slider-height-desktop;
          }
          .home-flexslider-caption {
            position: absolute;
            top: 50%;
            left: 0;
            transform: scale(.7) translateY(-50%);
            @include media-breakpoint-up(sm) {
              transform: scale(.85) translateY(-50%);
            }
            @include media-breakpoint-up(md) {
              transform: scale(1) translateY(-50%);
            }
            h3 {
              color: #aaa;
              @extend .gibson-light;
              font-size: 14px !important;
              line-height: 14px !important;
              margin: 0 0 15px 0 !important;
            }
            h2 {
              color: #4c4c4c;
              @extend .gibson-semibold;
              font-size: 42px !important;
              line-height: 42px !important;
              margin: 0 0 15px 0 !important;
            }
            p {
              font-style: italic;
              color: #4c4c4c;
              color: inherit;
              @extend .gibson-light;
              font-size: 14px !important;
              line-height: 22px !important;
              margin: 0 0 15px 0 !important;
              a {
                font-size: 14px !important;
                line-height: 14px !important;
                color: #d8120f !important;
              }
            }
          }
        }
        .home-flexslider-mobile-image {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: $home-slider-height-mobile;
          @include media-breakpoint-up(sm) {
            display: none;
          }
        }
        .home-flexslider-mobile {
          position: relative;
          padding: $home-slider-height-mobile-push 20px 0 20px;
          @include media-breakpoint-up(sm) {
            height: $home-slider-height-tablet;
            display: none;
          }
          @include media-breakpoint-up(md) {
            height: $home-slider-height-desktop;
          }
          .home-flexslider-caption {
            h3 {
              color: #aaa;
              @extend .gibson-light;
              font-size: 14px !important;
              line-height: 14px !important;
              margin: 0 0 15px 0 !important;
            }
            h2 {
              color: #4c4c4c;
              @extend .gibson-semibold;
              font-size: 34px !important;
              line-height: 34px !important;
              margin: 0 0 15px 0 !important;
            }
            p {
              font-style: italic;
              color: #4c4c4c;
              color: inherit;
              @extend .gibson-light;
              font-size: 14px !important;
              line-height: 14px !important;
              margin: 0 0 15px 0 !important;
              a {
                font-size: 14px !important;
                line-height: 14px !important;
                color: #d8120f !important;
              }
            }
          }
        }
      }
    }
  }
}
