// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: $sizeValue * 0.875em;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

// Fit parent
@mixin backgroundCover() {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin centre($axis: "both") {
	position:absolute;
	@if $axis == "y"{
		top:50%;
    transform: translate(0, -50%);
	}
	@if $axis == "x"{
		left:50%;
		transform: translate(-50%, 0);
	}
	@if $axis == "both"{
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
}
