.woocommerce-checkout {
  padding: 0 !important;
    #ship-to-different-address, h3,
    .woocommerce-billing-fields h3 {
        font-size: 24px;
        text-align: left;
    }
    #ship-to-different-address {
        span:after {
            right: -55px;
        }
    }
    .woocommerce-checkout-review-order-table {
        &, th, td {
            border: none;
            @extend .gibson-semibold;
            letter-spacing: 1px;
            font-size: 13px;
        }
        thead {
            border-bottom: 1px solid #000;
            th {
                //padding: 20px 0;
                text-transform: uppercase;
            }
        }
        th, td {
            padding: 0.4em 0;
        }
        th {
          text-transform: uppercase;
        }
        tbody {
            padding-top: 5px;
        }
        .shipping {
          p {
            color: #ccc;
            margin-top: 10px;
          }
        }
    }
}
