.mini-cart {
    .cart-details {
        //border: 1px solid #000;
        border-radius: 0;
        box-shadow: none;
        padding: 20px;
        left: auto;
        right: -28px;
        width: 300px;
    }
    .widget_shopping_cart {
        margin-bottom: 0;
        padding: 0;
        .empty {
            margin-bottom: 0;
            padding: 12px 0;
            text-align: center;
            font-size: 20px;
            letter-spacing: 0.01em;
            color: #aaaaaa;
            @extend .gibson-semibold;
            text-transform: uppercase;
        }
        .mini_cart_item {
            margin-bottom: 12px;
            a {
                //font-weight: 400;
                text-transform: uppercase;
                @extend .gibson-semibold;
            }
            .remove {
                float: right;
                font-size: 22px;
                line-height: 1;
            }
            img {
                float: left;
                margin-right: 20px;
                width: 60px;
                @include media-breakpoint-up(sm) {
                  width: 100px;
                }
            }
            .quantity {
                display: block;
                @extend .gibson-semibold;
                .amount {
                  @extend .gibson-semibold;
                }
            }
        }
        .total {
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
        }
        .buttons {
            margin-bottom: 0;
            text-align: center;
            a {
                margin: 0 3px;
                &:first-child {
                  margin: 0 3px 12px 3px;
                  @include media-breakpoint-up(sm) {
                    &:first-child {
                      margin: 0 3px;
                    }
                  }
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) {
    .mini-cart {
        .cart-details {
            right: 0;
            width: 370px;
        }
    }
}
