button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#respond #submit {
    display: inline-block;
    height: 37px;
    padding: 0 30px;
    border: 1px solid;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 39px !important;
    letter-spacing: 0 !important;
    @extend %transition;
    cursor: pointer;
    background: transparent;
}

.primary-button {
    background: #FFF;
    &:hover {
        text-decoration: underline;
    }
}
.button {
    display: inline-block;
    height: 37px;
    padding: 0 30px;
    border: 1px solid;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 39px !important;
    letter-spacing: 0 !important;
}
a.button.secondary-button {
    color: #FFF;
}
.secondary-button {
    border: none !important;
    color: #FFF;
}
